@import url('https://fonts.googleapis.com/css?family=Exo+2:400,700|Lato:400,700');

* {
    box-sizing: border-box;
}

.largeBtn{
    height: 37px;
    width: 295px;
    border-radius: 5px;
    background-color: #5FA8D3;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: #FCFCFC;
    border: none;
}

.largeBtn:hover{
    background-color: #A7CFE7;
}

i {
    border: solid #FCFCFC;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    border-radius: 1px;
    position: relative;
    right: -60px;
}

.arrowRight {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrowDown {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

.dropdown{
    -webkit-appearance: none;
}

.inputBox, .dropdown{
    height: 37px;
    width: 143px;
    border-radius: 5px;
    background-color: #EFEFEF;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: #0D1B1E;
    margin-bottom: 15px;
    margin-right: 7px;
}


/* mini - menu css - NANNA */
#mini-menu {
  position:fixed;
  display:block;
  top:0;
  right:0;
  left:0;
  max-width:100%;
  height:60px;
  z-index:1;
  font-family:'Exo 2', sans-serif;
  font-weight:bold;
  text-align:center;
}
.mini-menu-wrapper {
  width:100%;
  height:100%;
  list-style:none;
  display:block;
}
.mini-menu-item {
  display:block;
  float:left;
  width:50%;
  height:100%;
  padding:20px;
}
#miniMenuEvents {
  position:absolute;
  left:0;
  top:0;
  background-color:#fcfcfc;
  color:black;
}
#miniMenuNews {
  position:absolute;
  left:50%;
  top:0;
  background-color:#5fa8d3;
  color:white;
}

/* grid css - NANNA */
#bigGridWrapper {
  overflow:hidden;
  width:100%;
}

#nanna-grid-body {
  background-color:#fcfcfc;
  box-sizing:border-box;
}

#gridWrapper {
  box-sizing:inherit;
  position:absolute;
  width:90%;
  left:5%;
  top:10%;
  text-align:center;
  transition-duration:0.5s;
}

#gridWrapperNews {
  box-sizing:inherit;
  position:absolute;
  width:90%;
  right:+100%;
  top:10%;
  text-align:center;
  transition-duration:0.5s
}

.gridBox {
  position:relative;
  display:inline-block;
  text-align:center;
  max-width:500px;
  margin:5%;
}
.grid-img {
  display:block;
  width:100%;
  height:100%;
  border-radius:5px;
}

.gridOverlay {
  position:absolute;
  background-color:#efefef;
  width:100%;
  height:20%;
  font-family:'Exo 2', sans-serif;
  font-size:10px;
  transition-duration:0.5s;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}


.gridOverlay h2 {
  position:absolute;
  font-size:20px;
  top:0;
  width:100%;
}
.gridOverlay h3 {
  position:absolute;
  width:100%;
  top:40%;
}

.pullerArrow {
  position:absolute;
  transform:rotate(90deg);
  left:48%;
  top:-20%;
}

.gridOverlayPuller {
  position:absolute;
  display:block;
  width:20%;
  height:50%;
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
  background-color:#efefef;
  left:40%;
  top:90%;
  font-size:40px;
}


/* @media's go down here! Always keep this at the bottom! */

@media screen and (min-width: 770px) {
  #mini-menu {
    display:none;
  }
}
