@import url('https://fonts.googleapis.com/css?family=Exo+2:400,700|Lato:400,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

<<<<<<< HEAD
#membershipHeading, #paymentHeading, #thankyouHeading{
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #0d1b1e;
    text-align: center;
    margin-top: 20%;
}

#signUpForm, #paymentForm{
    width: 310px;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
}

.submitBtn, .linkBtn{
    height: 40px;
    width: 300px;
=======
body {
  background-color:#fcfcfc;
  display:block;
  box-sizing:border-box;
  height:100%;
  min-height:100%;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:0;
  margin:0;
}

.largeBtn{
    height: 37px;
    width: 295px;
>>>>>>> d1df83e1e1a68f48f36ec449b0b5cfd5ad56e1a8
    border-radius: 5px;
    background-color: #5FA8D3;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: #FCFCFC;
    border: none;
}

.submitBtn:hover{
    background-color: #A7CFE7;
}

.fa-chevron-right{
    font-size: 1em;
    color: #FCFCFC;
    margin-left: 10px;
    display: inline;
}


.inputBox, .dropdown{
    height: 40px;
    border-radius: 5px;
    background-color: #EFEFEF;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #0D1B1E;
    margin-bottom: 15px;
    margin-right: 7px;
    padding: 6px;
}

.medium{
    width: 145px;
}

.large{
    width: 170px;
}

.small{
    width: 120px;
}

.full{
    width: 300px;
}

#thankYouName, #thankYouText1, #thankYouText2{
    width: 300px;
    height: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: #0D1B1E;
    padding-top: 25px;
    margin: auto;
    line-height: 1.2;
    letter-spacing: 0.5px;
}

#thankYouText1{
    margin-top: 10px;
}
#thankYouText2{
    margin-top: 55px;
}

.linkBtn{
    position: relative;
    margin-top: 10px;
}

#lastPageWrapper{
    width: 300px;
    height: 500px;
    margin: auto;
}

#btnWrapper{
    position: absolute;
    bottom: 110px;
}


<<<<<<< HEAD



=======
/* mini - menu css - NANNA */
#mini-menu {
  position:sticky;
  display:block;
  top:0;
  right:0;
  left:0;
  max-width:100%;
  height:60px;
  z-index:3;
  font-family:'Exo 2', sans-serif;
  font-weight:bold;
  text-align:center;
}
.mini-menu-wrapper {
  position:sticky;
  top:0;
  width:100%;
  height:100%;
  list-style:none;
  display:block;
}
.mini-menu-item {
  position:sticky;
  top:0;
  display:block;
  float:left;
  width:50%;
  height:100%;
  padding:20px;
}
#miniMenuEvents {
  position:fixed;
  height:60px;
  left:0;
  top:0;
  background-color:#fcfcfc;
  color:black;
}
#miniMenuNews {
  position:fixed;
  height:60px;
  left:50%;
  top:0;
  background-color:#5fa8d3;
  color:white;
}

/* grid css - NANNA */
#bigGridWrapper {
  width:100%;
  min-height:100%;
}

#gridWrapper {
  box-sizing:inherit;
  position:absolute;
  width:90%;
  left:5%;
  top:10%;
  padding-bottom:150px;
  text-align:center;
  transition-duration:0.5s;
}

#gridWrapperNews {
  box-sizing:inherit;
  position:absolute;
  width:90%;
  right:+150%;
  top:10%;
  text-align:center;
  transition-duration:0.5s
}

.gridBox {
  position:relative;
  display:inline-block;
  text-align:center;
  max-width:500px;
  margin:5%;
}
.grid-img {
  display:block;
  width:100%;
  height:100%;
  border-radius:5px;
}

.gridOverlay {
  position:absolute;
  background-color:#efefef;
  width:100%;
  height:20%;
  font-family:'Exo 2', sans-serif;
  transition-duration:0.5s;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}


.gridOverlay h2 {
  position:absolute;
  font-size:20px;
  top:0;
  width:100%;
}
.gridOverlay h3 {
  position:absolute;
  width:100%;
  top:40px;
  font-size:10px;
}

.pullerArrow {
  position:absolute;
  transform:rotate(90deg);
  left:48%;
  top:-20%;
}

.gridOverlayPuller {
  position:absolute;
  display:block;
  width:20%;
  height:60px;
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
  background-color:#efefef;
  left:40%;
  top:90%;
  font-size:40px;
}

.grid-content {
  position:absolute;
  display:block;
  opacity:0;
  font-size:20px;
  top:65px;
  left:5%;
  height:80%;
  width:90%;
  transition-duration:0.2s;
  transition-delay:0.1s;
}
.gridButton {
  position:absolute;
  left:25%;
  margin-top:50px;
  width:50%;
  border-radius: 5px;
  background-color: #5FA8D3;
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  color: #FCFCFC;
  border: none;
  padding:10px;
}

.gridButton:hover  {
  background-color: #A7CFE7;
}

.gridCTA {
  position:absolute;
  margin-top:60%;
  margin-left:20%;
  width:150px;
  height:150px;
  padding-top:60px;
  border-radius: 50%;
  background-color: #ffc658;
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  text-decoration:none;
  color: #0d1b1e;
  box-shadow:5px 5px 10px rgba(0, 0, 0, .2);
  z-index:2;
}

/* HERE STARTS FOOTER CSS */

footer {
  position:absolute;
  display:block;
  bottom:0;
  right:0;
  left:0;
  width:100%;
  background-color:#0d1b1e;
  z-index:3;
  padding:10px;
  padding-left:40px;
  padding-bottom:40px;
  color:#fcfcfc;
}

#footerTextBox {
  font-family:'Exo 2', sans-serif;
  font-size:1em;
  float:left;
}
#facebookIcon {
  position:absolute;
  width:60px;
  height:60px;
  border-radius:25%;
  border-style: solid;
  border-width:1px;
  border-color:#fcfcfc;
  text-align:center;
  font-family:'Exo 2', sans-serif;
  font-size:2em;
  font-weight:bold;
  color:#fcfcfc;
  text-decoration:none;
  float:right;
  right:-20px;
  top:25px;
  margin:40px;
  margin-top:50px;
  padding-top:5px;
}
#footer span {
  display:block;
  padding-bottom:3px;
}

#followUs {
  display:none;
}


/* @media's go down here! Always keep this at the bottom! */

@media screen and (min-width: 770px) {
  #mini-menu {
    display:none;
  }
  .gridCTA {
    margin-top:75%;
  }
  #facebookIcon {
    right:0;
  }
  #followUs {
    opacity:0;
    position:absolute;
    display:block;
    right:10%;
    top:40%;
    font-family:'Exo 2', sans-serif;
    font-size:2em;
    transition-duration:0.5s;
  }
}
>>>>>>> d1df83e1e1a68f48f36ec449b0b5cfd5ad56e1a8
