@import url('https://fonts.googleapis.com/css?family=Exo+2:400,700|Lato:400,700');

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}

#mainWrapper{
  height: 100%;
  margin-bottom: 300px;
}

body {
    position:relative;
    background-color:#fcfcfc;
    display:block;
    height:100%;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    max-width:100%;
  }


  header{
    z-index:11;
    overflow-x:hidden;
  }

/***********START OPRET MEDLEMSKAB OG FAKTURA SAMT BETALING - DARLENE**************/
#membershipHeading, #paymentHeading, #thankYouHeading{
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #0d1b1e;
    text-align: center;
    margin-top: 20%;
}

#signUpForm, #paymentForm{
    width: 310px;
    position: relative;
    top:170px;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    margin-bottom:50px;
}

.submit, .link{
    height: 40px;
    width: 300px;
}

.largeBtn{
  height: 40px;
  width: 300px;
  border-radius: 5px;
  background-color: #5FA8D3;
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  color: #FCFCFC;
  border: none;
}

.largeBtn:hover{
  background-color: #A7CFE7;
}


.inputBox, .dropdown{
  height: 40px;
  border-radius: 5px;
  background-color: #EFEFEF;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #0D1B1E;
  margin-bottom: 15px;
  margin-right: 7px;
  padding: 6px;
}


.medium{
  width: 145px;
  margin-top: 10px;
}

.large{
  width: 170px;
}

.small{
  width: 120px;
}

.full{
  width: 300px;
}

#dropdownHeading{
  font-weight: 700;
}



.fa-chevron-right{
  font-size: 1em;
  color: #FCFCFC;
  margin-left: 10px;
  display: inline;
}

.checkBox {
  margin-bottom:10px;
}

.paymentWrapper{
  width: 100%;
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1em;
  display: block;
  width: 300px;
  margin: auto;
}

#paymentIntro{
  height: 100px;
  width: 300px;
  display: block;
  margin-top: 15px;
}

.paymentNo{
  width: 100%;
  height: 70px;
  color: #FFC658;
  font-size: 2em;
  font-weight: 700;
  background-color: #efefef;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
}

#paymentBox{
  margin-bottom: 20px;
}

.paymentDesc{
  margin: 20px 0px 10px 0px;
}

.hiddenInput{
  visibility: hidden;
  display: none;
}



/***********SLUT OPRET MEDLEMSKAB OG FAKTURA SAMT BETALING - DARLENE**************/





/************START MENU BAR - JONAS**************/
#headerWrapper {
  position:absolute;
  z-index:11;
  position:fixed;
  background-color:#5fa8d3;
  overflow-x:hidden;
}

.logo{
  position: fixed;
  top:0;
  height: 50px;
  padding-top: 10px;
  z-index: 10;
}

.wrapper{
  text-align: center;
  width:100%;
}

.fa .fa-search, .toggle {
  display: inline-block;
  padding: 5px;
  position: relative;
  right: 0px;
}


.search-btn .fa-search {
  position: fixed;
  left: 340px;
  top: 15px;
  font-size: 35px;
  color: #fcfcfc;
  cursor: pointer;
}

#searchInput{
  background-color: #fcfcfc;
  width: 90vw;
  position: absolute;
  top: 70px;
}

nav.desk ul #searchInput {
  float: right;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

.container nav.desk,
.container nav.mob{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #5FA8D3;
  height: 60px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}

nav.desk ul {
  list-style: none;
  height: 60px;
  margin: 0 auto;
}

nav.desk ul li {
  width: 160px;
  float: left;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
}

nav.desk ul li:hover,
nav.mob ul li:hover{
  background: #efefef;
}

nav.desk ul li.active,
nav.mob ul li.active{
  background: #efefef;
  max-height: 70px;
}

nav ul li a {
  color: #fcfcfc;
  text-decoration: none;
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
}
nav ul li.active a,
nav ul li:hover a {
  color: #0d1b1e;
  text-decoration: none;
}

.mob,
.hamburger-btn {
  display: none;
}

/*
nav img {
  position: fixed;
  display: inline-block;
  vertical-align: top;
  height: 50px;
  margin-top: 5px;
}
  /************SLUT MENU BAR - JONAS**************/



/***********START TAK FOR DIN ANMODNING - DARLENE**************/

#checkIcon{
  margin: auto;
  display: block;
  padding-top: 30px;
}

#thankYouName, #thankYouText1, #thankYouText2{
    width: 300px;
    height: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: #0D1B1E;
    padding-top: 10px;
    margin: auto;
    line-height: 1.2;
    letter-spacing: 0.5px;
}

#thankYouText1{
    margin-top: 20px;
}
#thankYouText2{
    margin-top: 90px;
}

.link{
    position: relative;
    margin-top: 10px;
}

#lastPageWrapper{
    width: 300px;
    height: 500px;
    margin: auto;
}

#btnWrapper{
    position: absolute;
    bottom: 90px;
}

/***********SLUT TAK FOR DIN ANMODNING - DARLENE**************/

/* mini - menu css - NANNA */
#mini-menu {
  margin-top:60px;
  position:relative;
  display:block;
  width:100%;
  height:65px;
  font-family:'Exo 2', sans-serif;
  font-weight:bold;
  text-align:center;
  background-color:#5fa8d3;
  overflow-x:hidden;
}
.mini-menu-wrapper {
  height:100%;
  list-style:none;
  display:block;
}
.mini-menu-item {
  position:sticky;
  top:0;
  display:block;
  float:left;
  width:50%;
  height:100%;
  padding:20px;
}
#miniMenuNews {
  position:sticky;
  height:60px;
  margin-top:5px;
  width:50%;
  left:0;
  background-color:#fcfcfc;
  color:black;
  border-top-right-radius:50px;
}

#miniMenuEvents {
  position:sticky;
  height:60px;
  margin-top:5px;
  width:50%;
  left:50%;
  top:0;
  background-color:#5fa8d3;
  color:white;
  border-top-left-radius:50px;
}

/* grid css - NANNA */
#bigGridWrapper {
  position:relative;
  margin-top:20px;
  left:5%;
  width:200%;
  transition-duration:0.5s;
  overflow-x:hidden;
}

#gridWrapperEvents {
  width:45%;
  float:right;
  text-align:center;
  overflow-x:hidden;
}

#gridWrapperNews {
  width:45%;
  float:left;
  text-align:center;
  overflow-x:hidden;
}

.grid-colum {
  position:relative;
  display:block;
  text-align:center;
  max-width:500px;
}

.gridBox {
  margin-bottom:50px;
}
.grid-img {
  display:block;
  width:100%;
  border-radius:5px;
}

.gridOverlay {
  position:absolute;
  background-color:#efefef;
  width:100%;
  height:65px;
  font-family:'Exo 2', sans-serif;
  transition-duration:0.5s;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}

.gridOverlay h2 {
  position:absolute;
  font-size:20px;
  top:0;
  width:100%;
}
.gridOverlay h3 {
  position:absolute;
  width:100%;
  top:40px;
  font-size:10px;
}

.pullerArrow {
  position:absolute;
  transform:rotate(90deg);
  left:48%;
  top:-20%;
}

.gridOverlayPuller {
  position:absolute;
  display:block;
  width:20%;
  height:40px;
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
  background-color:#efefef;
  left:40%;
  top:90%;
  font-size:40px;
}

.grid-content {
  position:absolute;
  display:block;
  opacity:0;
  font-size:20px;
  top:65px;
  left:5%;
  height:80%;
  width:90%;
  transition-duration:0.2s;
  transition-delay:0.1s;
}
.gridButton {
  position:absolute;
  left:25%;
  margin-top:50px;
  width:50%;
  border-radius: 5px;
  background-color: #5FA8D3;
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  color: #FCFCFC;
  border: none;
  padding:10px;
}

.gridButton:hover  {
  background-color: #A7CFE7;
}

.gridCTA {
  position:absolute;
  margin-top:60%;
  margin-left:20%;
  width:120px;
  height:120px;
  padding-top:45px;
  border-radius: 50%;
  background-color: #ffc658;
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  text-decoration:none;
  color: #0d1b1e;
  box-shadow:5px 5px 10px rgba(0, 0, 0, .2);
  z-index:2;
}

/* HERE STARTS FOOTER CSS */

.footerWrapper{
  height: 100%;
  width: 100%;
}

footer {
  position:fixed;
  clear: both;
  bottom:0;
  width:100%;
  height: 150px;
  background-color:#0d1b1e;
  padding:10px;
  padding-left:20px;
  padding-bottom:40px;
  color:#fcfcfc;
  height:150px;
}

#footerTextBox {
  font-family:'Exo 2', sans-serif;
  font-size:1em;
  float:left;
}
#facebookIcon {
  position:relative;
  width:40px;
  height:40px;
  border-radius:25%;
  border-style: solid;
  border-width:1px;
  border-color:#fcfcfc;
  text-align:center;
  font-family:'Exo 2', sans-serif;
  font-size:2em;
  font-weight:bold;
  color:#fcfcfc;
  text-decoration:none;
  float:right;
  top: 70px;
  right: 50px;
}
#footer span {
  display:block;
  padding-bottom: 5px;
}

#followUs {
  display:none;
}

/* HERE STARTS STYLEBURGERANIMATION CSS */

.toggle {
  position: absolute;
  top: 75%;
  left: 75%;
  transform: translate(-50%, -50%);
  height: 80px;
  width: 100px;
  background: #5FA8D3;
  cursor: pointer;
}

.toggle span{
  display: block;
  width: 40px;
  height: 6px;
  position: absolute;
  border-radius: 2px;
  top: 70%;
  left: 70%;
  transform: translate(-50%, -50%);
  background: #fcfcfc;
  transition: .5s;
}

.toggle span:nth-child(1){
  transform: translate(-50%, -50%) translateY(-20px);
    transition: .2s;
}
.toggle span:nth-child(4){
  transform: translate(-50%, -50%) translateY(20px);
    transition: .2s;
}

.toggle.activetoggle span:nth-child(1){
  transform: translate(-50%, -50%) translateY(-35px);
  opacity: 0;
}
.toggle.activetoggle span:nth-child(4){
  transform: translate(-50%, -50%) translateY(35px);
  opacity: 0;
}

.toggle.activetoggle span:nth-child(2){
  transform: translate(-50%, -50%) rotate(45deg);
  transition-delay: .2s;
}
.toggle.activetoggle span:nth-child(3){
  transform: translate(-50%, -50%) rotate(-45deg);
  transition-delay: .2s;
}

/* CINDY BETINGELSER CSS */

#betingelserBtn {
color: #0d1b1e;
width: 130px;
font-family: 'Lato', sans-serif;
font-weight: bold;
font-style: normal;
text-align: center;
margin-top: 10px;
border:none;
background-color:#efefef;
text-decoration:underline;
}

#betingelsesbox, .reminder {
  height:100%;
  background-color:#efefef;
  text-align:left;
  vertical-align:middle;
  padding:20px 47px;
  font-family:'Lato', sans-serif;
  line-height:2em;
  margin-top: 20px;
}

#more {
  display:none;
}

.reminder {
  position:relative;
  border-radius:5px;
  margin-bottom:15px;
}



/* HER ER ALT @MEDIA */
@media screen and (max-width: 700px) {
  nav.desk {
    display: none;
  }

  nav.mob,
  .hamburger-btn {
    display: block;
  }

  .hamburger-btn {
    position: relative;
  }

  .hamburger-btn .toggle {
    position: fixed;
    left: 55px;
    top: 30px;
    font-size: 35px;
    color: #fcfcfc;
    cursor: pointer;
    height:15px;
  }

  .mob ul{
    margin-top: 60px;
    background: #5FA8D3;
    display: none;
  }

  .mob li {
    padding: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
  }

  .mob ul.active {
    display: block;
  }
  .container nav.mob {
    box-shadow:none;
  }
  #followUs {
    opacity:0;
  }
  .logo {
    left:175px;
  }
  body {
    max-width:700px;
  }
}

@media screen and (min-width: 770px) {
  #mini-menu {
    display:none;
  }
  .gridCTA {
    margin-top:75%;
  }
  #facebookIcon {
    right:0;
  }
  #followUs {
    opacity:0;
    position:absolute;
    display:block;
    right:10%;
    top:40%;
    font-family:'Exo 2', sans-serif;
    font-size:2em;
    transition-duration:0.5s;
  }
  #bigGridWrapper {
    width:100%;
    margin-top:100px;
  }

}
