@import url('https://fonts.googleapis.com/css?family=Exo+2:400,700|Lato:400,700');

* {
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}


.mainWrapper{
  height: 110vh;
}

#indexMainWrapper {
  height:100%;
  margin-bottom:0;
  overflow:hidden;
}

body {
    position:relative;
    background-color:#fcfcfc;
    display:block;
    min-height:100vh;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }

/***********START OPRET MEDLEMSKAB OG FAKTURA SAMT BETALING - DARLENE**************/
#membershipHeading, #paymentHeading, #thankYouHeading{
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 2em;
    color: #0d1b1e;
    text-align: center;
    margin-top: 20%;
}

#signUpForm, #paymentForm{
    width: 310px;
    position: relative;
    top:170px;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    margin-bottom:50px;
}

.submit, .link{
    height: 40px;
    width: 300px;
}

.largeBtn{
  height: 40px;
  width: 300px;
  border-radius: 5px;
  background-color: #5FA8D3;
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  color: #FCFCFC;
  border: none;
}

.fejlWrapper{
  text-align: center;
}

.largeBtnByBack{
  display:inline-block;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  background-color: #5FA8D3;
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  color: #FCFCFC;
  border: none;
  cursor:pointer;
}

.tilbageknap {
  display:inline-block;
  border:none;
  shadow:none;
  background-color:#fcfcfc;
  color:black;
  height:40px;
  width:100px;
  margin-top:20px;
  padding:5px;
  float:left;
  cursor:pointer;
}
.tilbageknap i {
  color:black;
}

.largeBtn:hover{
  background-color: #A7CFE7;
}


.inputBox, .dropdown{
  height: 40px;
  border-radius: 5px;
  background-color: #EFEFEF;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: #0D1B1E;
  margin-bottom: 15px;
  margin-right: 7px;
  padding: 6px;
}


.medium{
  width: 145px;
  margin-top: 10px;
}

.large{
  width: 170px;
}

.small{
  width: 120px;
}

.full{
  width: 300px;
}

#dropdownHeading{
  font-weight: 700;
}



.fa-chevron-right{
  font-size: 1em;
  color: #FCFCFC;
  margin-left: 10px;
  display: inline;
}

.checkBox {
  margin-bottom:10px;
}

.paymentWrapper{
  width: 100%;
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1em;
  display: block;
  width: 300px;
  margin: auto;
}

#paymentIntro{
  height: 100px;
  width: 300px;
  display: block;
  margin-top: 15px;
}

.paymentNo{
  width: 100%;
  height: 70px;
  color: #FFC658;
  font-size: 2em;
  font-weight: 700;
  background-color: #efefef;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
}

#paymentBox{
  margin-bottom: 20px;
}

.paymentDesc{
  margin: 20px 0px 10px 0px;
}

.hiddenInput{
  visibility: hidden;
  display: none;
}

/***********SLUT OPRET MEDLEMSKAB OG FAKTURA SAMT BETALING - DARLENE**************/





/************START MENU BAR - JONAS**************/

#headerWrapper {
  position:relative;
  z-index:11;
  position:fixed;
  background-color:#5fa8d3;
}

.logo{
  position: fixed;
  top:0;
  height: 50px;
  padding-top: 10px;
  z-index: 10;
}

.wrapper{
  text-align: center;
  width:100%;
}

.fa .fa-search, .toggle {
  display: inline-block;
  padding: 5px;
  position: relative;
  right: 0px;
}

.search-btn .fa-search {
  position: fixed;
  left: 87%;
  top: 13px;
  font-size: 35px;
  color: #fcfcfc;
  cursor: pointer;
}

#searchInput{
  background-color: #fcfcfc;
  width: 90vw;
  position: absolute;
  top: 73px;
}

nav.desk ul #searchInput {
  float: right;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

.container nav.desk,
.container nav.mob{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #5FA8D3;
  height: 60px;
}

nav.desk ul {
  list-style: none;
  height: 60px;
  margin: 0 auto;
}

nav.desk ul li {
  width: 160px;
  float: left;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
}

nav.desk ul li:hover,
nav.mob ul li:hover{
  background: #efefef;
}

nav.desk ul li.active,
nav.mob ul li.active{
  background: #efefef;
  height:60px;
}

nav ul li a {
  color: #fcfcfc;
  text-decoration: none;
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
}
nav ul li.active a,
nav ul li:hover a {
  color: #0d1b1e;
  text-decoration: none;
}

.mob,
.hamburger-btn {
  display: none;
}

/*
nav img {
  position: fixed;
  display: inline-block;
  vertical-align: top;
  height: 50px;
  margin-top: 5px;
}
  /************SLUT MENU BAR - JONAS**************/



/***********START TAK FOR DIN ANMODNING - DARLENE**************/

#checkIcon{
  margin: auto;
  display: block;
  padding-top: 30px;
}

#thankYouName, #thankYouText1, #thankYouText2{
    width: 300px;
    height: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: #0D1B1E;
    padding-top: 10px;
    margin: auto;
    line-height: 1.2;
    letter-spacing: 0.5px;
}

#thankYouText1{
    margin-top: 20px;
}
#thankYouText2{
    margin-top: 90px;
}

.link{
    position: relative;
    margin-top: 10px;
}

#lastPageWrapper{
    width: 300px;
    height: 500px;
    margin: auto;
}

#btnWrapper{
    position: absolute;
    bottom: 90px;
}

/***********SLUT TAK FOR DIN ANMODNING - DARLENE**************/

/* mini - menu css - NANNA */
#mini-menu {
  margin-top:60px;
  position:relative;
  display:block;
  width:100%;
  height:65px;
  font-family:'Exo 2', sans-serif;
  font-weight:bold;
  text-align:center;
  background-color:#5fa8d3;
}
.mini-menu-wrapper {
  height:100%;
  list-style:none;
  display:block;
}
.mini-menu-item {
  position:sticky;
  top:0;
  display:block;
  float:left;
  width:50%;
  height:100%;
  padding:20px;
}
#miniMenuNews {
  position:sticky;
  height:60px;
  margin-top:5px;
  width:50%;
  left:0;
  background-color:#fcfcfc;
  color:black;
  border-top-right-radius:20px;
}

#miniMenuEvents {
  position:sticky;
  height:60px;
  margin-top:5px;
  width:50%;
  left:50%;
  top:0;
  background-color:#5fa8d3;
  color:white;
  border-top-left-radius:20px;
}

/* grid css - NANNA */
#bigGridWrapper {
  position:relative;
  margin-top:20px;
  left:5%;
  width:200%;
  transition-duration:0.5s;
}

#gridWrapperEvents {
  width:45%;
  float:right;
  text-align:center;
}

#gridWrapperNews {
  width:45%;
  float:left;
  text-align:center;
}

.grid-colum {
  position:relative;
  display:block;
  text-align:center;
  max-width:500px;
}

.gridBox {
  margin-bottom:50px;
  max-height:500px;
  min-height:300px;
}
.grid-img {
  display:block;
  width:100%;
  min-height:100%;
  border-radius:5px;
}

.gridOverlay {
  position:absolute;
  background-color:#efefef;
  width:100%;
  height:65px;
  font-family:'Exo 2', sans-serif;
  transition-duration:0.5s;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}

.gridOverlay h2 {
  position:absolute;
  font-size:1.2em;
  top:0;
  width:100%;
}
.gridOverlay h3 {
  position:absolute;
  width:100%;
  top:40px;
  font-size:.8em;
}

.pullerArrow {
  position:absolute;
  transform:rotate(90deg);
  left:48%;
  top:-20%;
}

.gridOverlayPuller {
  position:absolute;
  display:block;
  width:20%;
  height:40px;
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
  background-color:#efefef;
  left:40%;
  top:90%;
  font-size:2em;
}

.grid-content {
  position:absolute;
  display:block;
  opacity:0;
  font-size:1.2em;
  top:65px;
  left:5%;
  height:80%;
  width:90%;
  transition-duration:0.2s;
  transition-delay:0.1s;
}
.gridButton {
  position:absolute;
  left:25%;
  margin-top:50px;
  width:50%;
  border-radius: 5px;
  background-color: #5FA8D3;
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  color: #FCFCFC;
  border: none;
  padding:10px;
}

.gridButton:hover  {
  background-color: #A7CFE7;
}

.gridCTA {
  position:absolute;
  margin-top:73%;
  margin-left:18%;
  width:120px;
  height:120px;
  padding-top:45px;
  border-radius: 50%;
  background-color: #ffca3a;
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  text-decoration:none;
  color: #0d1b1e;
  box-shadow:5px 5px 10px rgba(0, 0, 0, .2);
  z-index:10;
}

/* HERE STARTS FOOTER CSS */


#footer {
  position:absolute;
  bottom:0;
  top: 100%;
  width:100%;
  background-color:#0d1b1e;
  padding:10px;
  padding-left:40px;
  padding-bottom:40px;
  color:#fcfcfc;
  height:150px;
}

#footerTextBox {
  font-family:'Exo 2', sans-serif;
  font-size:1.2em;
  float:left;
}
#facebookIcon {
  position:relative;
  width:40px;
  height:40px;
  border-radius:25%;
  border-style: solid;
  border-width:1px;
  border-color:#fcfcfc;
  text-align:center;
  font-family:'Exo 2', sans-serif;
  font-size:2em;
  font-weight:bold;
  color:#fcfcfc;
  text-decoration:none;
  float:right;
  top: 70px;
  right: 50px;
}
#footer span {
  display:block;
  padding-bottom: 5px;
}

#followUs {
  display:none;
}

/* HERE STARTS STYLEBURGERANIMATION CSS */

.toggle {
  position: absolute;
  top: 75%;
  left: 75%;
  transform: translate(-50%, -50%);
  height: 80px;
  width: 100px;
  background: #5FA8D3;
  cursor: pointer;
}

.toggle span{
  display: block;
  width: 40px;
  height: 5px;
  position: absolute;
  border-radius: 2px;
  top: 70%;
  left: 40%;
  transform: translate(-50%, -50%);
  background: #fcfcfc;
  transition: .5s;
}

.toggle span:nth-child(1){
  transform: translate(-50%, -50%) translateY(-10px);
    transition: .2s;
}
.toggle span:nth-child(4){
  transform: translate(-50%, -50%) translateY(10px);
    transition: .2s;
}

.toggle.activetoggle span:nth-child(1){
  transform: translate(-50%, -50%) translateY(-35px);
  opacity: 0;
}
.toggle.activetoggle span:nth-child(4){
  transform: translate(-50%, -50%) translateY(35px);
  opacity: 0;
}

.toggle.activetoggle span:nth-child(2){
  transform: translate(-50%, -50%) rotate(45deg);
  transition-delay: .2s;
}
.toggle.activetoggle span:nth-child(3){
  transform: translate(-50%, -50%) rotate(-45deg);
  transition-delay: .2s;
}

/* CINDY BETINGELSER CSS */

#betingelserBtn {
color: #0d1b1e;
width: 130px;
font-family: 'Lato', sans-serif;
font-weight: bold;
font-style: normal;
text-align: center;
margin-top: 10px;
border:none;
background-color:#efefef;
text-decoration:underline;
}

#betingelsesbox, .reminder {
  height:230px;
  background-color:#efefef;
  text-align:left;
  vertical-align:middle;
  padding:20px 47px;
  font-family:'Lato', sans-serif;
  line-height:2em;
  margin-top: 20px;
}

#more {
  display:none;
}

.reminder {
  position:relative;
  border-radius:5px;
  margin-bottom:15px;
}

/* Back to top knap*/
/* Style the back-to-top floating button */
.sf-back-to-top {
    background-color: #50A1CB; /* button color */
    color: white; /* text/arrow color */
    display: none;
    z-index: 999;
    /* float in bottom right corner */
    /* 20 pixels from edge */
    position: fixed;
    right: 20px;
    bottom: 20px;
    /* size of button is 50 pixels*/
    width: 50px;
    height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* round button */
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

a.sf-back-to-top {
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.6;
    padding-left: 2px;
    padding-top: 4px;
}

a.sf-back-to-top .arrow:before {
    content: "\e02d";
    font-family: 'squarespace-ui-font';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    display: block;
    vertical-align: middle;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    cursor: pointer;
    margin-left: -4px;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
/* 404 PAGE CSS */
#fejlBody {
  width:90%;
  text-align:center;
  margin:auto;
  margin-top:200px;
}

#fejlBody h1 {
  margin-top:50px;
  font-size: 2em;
}
#fejlBody h2 {
  font-size: 1.2em;
}

#fejlKnap {
  display:inline-block;
  width:75%;
}

#swirlyBirds {
  width:80px;
  height:60px;
}

.loadingIcon {
    -webkit-animation: rotate 6s linear infinite;
}

@-webkit-keyframes rotate {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

/* HER ER ALT @MEDIA */
@media screen and (max-width: 440px) {
  nav.desk {
    display: none;
  }

  nav.mob,
  .hamburger-btn {
    display: block;
  }

  .hamburger-btn {
    position: relative;
  }

  .hamburger-btn .toggle {
    position: fixed;
    left: 55px;
    top: 30px;
    font-size: 35px;
    color: #fcfcfc;
    cursor: pointer;
    height:15px;
  }

  .mob ul{
    margin-top: 60px;
    background: #5FA8D3;
    display: none;
  }

  .mob li {
    padding: 20px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
  }

  .mob ul.active {
    display: block;
  }
  .container nav.mob {
    box-shadow:none;
  }
  #followUs {
    opacity:0;
  }
  .logo {
    left:160px;
  }
  body {
    max-width:700px;
  }
  .headImWrapper {
    display:none;
  }
}

@media screen and (min-width: 440px) {
  #mini-menu {
    display:none;
  }
  .gridCTA {
    margin-top:80%;
    margin-left: 30%;
  }
  #facebookIcon {
    right:0;
  }
  #followUs {
    opacity:0;
    position:absolute;
    display:block;
    right:10%;
    top:40%;
    font-family:'Exo 2', sans-serif;
    font-size:1.2em;
    transition-duration:0.5s;
  }
  #bigGridWrapper {
    width:80%;
    margin:auto;
    margin-top:100px;
    margin-left:5%;
  }

  #membershipHeading, #paymentHeading, #thankYouHeading{
    font-size: 2em;
    margin-top: 7%;
    margin-bottom: 2%;
  }

  #signUpForm, #paymentForm{
    width: 620px;
    top: 300px;
    left: 50%;
    margin-top: -310px;
    margin-left: -310px;
    margin-bottom:50px;
  }

  .medium, .large, .small{
    width: 300px;
    margin-top: 0;
  }

  .full{
    width: 600px;
  }

  .paymentWrapper{
    font-size: 1.2em;
    width: 600px;

  }

  .submit, .link{
    height: 40px;
    width: 610px;
  }

  .largeBtn{
    height: 40px;
    width: 610px;
  }

#betingelsesbox{
    display: block;
    width: 900px;
    height: 170px;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 2%;
  }

#paymentIntro{
    height: 100px;
    width: 610px;
    display: block;
    margin-top: 15px;
  }

.paymentNo{
    padding-top: 10px;
    padding-bottom: 5px;
  }


#thankYouName, #thankYouText1, #thankYouText2{
    width: 600px;
    padding-top: 100px;
    margin: auto;
}


#thankYouText1, #thankYouText2{
  font-size: 1.2em;
  text-align: justify;
}

#thankYouText1{
  padding-top: 50px;
}

#lastPageWrapper{
    width: 600px;
    overflow: hidden;
}
.logo {
  left:95%;
}
.largeBtnByBack {
  max-width:500px;
  min-width:450px;
  cursor:pointer;
}
.tilbageknap {
  float:none;
  cursor:pointer;
}

}
