@import url('https://fonts.googleapis.com/css?family=Exo+2:400,700|Lato:400,700');

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  font-family: "Exo 2", sans-serif;
  background-color: #fcfcfc;
}



.search-btn i {
  position: fixed;
  right: 25px;
  top: 15px;
  font-size: 35px;
  color: #fcfcfc;
  cursor: pointer;
}

nav.desk ul input {
  width: 160px;
  float: right;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}




.container nav.desk,
.container nav.mob{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #5FA8D3;
  height: 60px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
}

nav.desk ul {
  list-style: none;
  height: 60px;
  margin: 0 auto;
}

nav.desk ul li {
  width: 160px;
  float: left;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
}

nav.desk ul li:hover,
nav.mob ul li:hover{
  background: #efefef;
}

nav.desk ul li.active,
nav.mob ul li.active{
  background: #efefef;
}

nav ul li a {
  color: #fcfcfc;
  text-decoration: none;
}
nav ul li.active a,
nav ul li:hover a {
  color: #0d1b1e;
  text-decoration: none;
}

.mob,
.hamburger-btn {
  display: none;
}

@media screen and (max-width: 700px) {
  nav.desk {
    display: none;
  }

  nav.mob,
  .hamburger-btn {
    display: block;
  }

  .hamburger-btn {
    position: relative;
  }

  .hamburger-btn .fa-bars,
  .hamburger-btn .fa-times {
    position: fixed;
    left: 25px;
    top: 15px;
    font-size: 35px;
    color: #fcfcfc;
    cursor: pointer;
  }

  .mob ul{
    margin-top: 60px;
    background: #5FA8D3;
    display: none;
  }

  .mob li {
    padding: 20px;
    text-transform: uppercase;
    cursor: pointer;
  }

  .mob ul.active {
    display: block;
  }
}
