body{
  margin: 0;
  padding: 0;
  background: #0D1B1E;
}

.toggle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80px;
  width: 80px;
  background: #5FA8D3;
  cursor: pointer;
}

.toggle span{
  display: block;
  width: 60px;
  height: 6px;
  position: absolute;
  border-radius: 2px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fcfcfc;
  transition: .5s;
}

.toggle span:nth-child(1){
  transform: translate(-50%, -50%) translateY(-20px);
    transition: .2s;
}
.toggle span:nth-child(4){
  transform: translate(-50%, -50%) translateY(20px);
    transition: .2s;
}

.toggle.active span:nth-child(1){
  transform: translate(-50%, -50%) translateY(-35px);
  opacity: 0;
}
.toggle.active span:nth-child(4){
  transform: translate(-50%, -50%) translateY(35px);
  opacity: 0;
}

.toggle.active span:nth-child(2){
  transform: translate(-50%, -50%) rotate(45deg);
  transition-delay: .2s;
}
.toggle.active span:nth-child(3){
  transform: translate(-50%, -50%) rotate(-45deg);
  transition-delay: .2s;
}
