@import url('https://fonts.googleapis.com/css?family=Exo+2:400,700|Lato:400,700');

*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #FCFCFC;
    max-width: 100%;
}

#headerWrapper{
    height: 100px;
    background-color: #0D1B1E;
    z-index: 2;
    position: sticky;
    top: 0;
}

#mainHeading, a{
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    color: #FCFCFC;
    text-decoration: none; 
    text-align: center;
    padding-top: 25px;
}

#menu{
    background-color: #5FA8D3;
    min-width: 20%;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
}

#menuList li a{
    display: block;
    list-style-type: none;
    padding-left: 30px;
    margin: auto;
    text-align: left;
}

#menuList li:hover{
    opacity: 0.5;
}

#menuList .active{
    opacity: 0.5;
}

h2{
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    text-align: center;
    margin-top: 5%;
}

.container{
    position: static;
    left: 20%;
    width: 77%;
    height: 100vh;
    background-color: #FCFCFC;
    border-radius: 10px;
    margin-bottom: 10%;
    margin-left: 20%;
}




/**********FARVER************/


.colorItem{
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    width: 100px;
    height: 170px;
    padding: 5px 5px 0px 5px;
    background-color: #DADADA;
    border-radius: 5px;
}

#colorList{
    position: absolute;
    top: 75%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
    margin-bottom:50px;
    text-align: center;
}

#colorList, .colorItem .colorName{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    color: #0D1B1E;
    display: inline-block;
    padding-top: 10px;
}

.colorCode{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: grey;
}


#blue{
    background-color: #5FA8D3;
}

#yellow{
    background-color: #FFCA3A;
}

#white{
    background-color: #FCFCFC
}

#grey{
    background-color: #EFEFEF;
}

#black{
    background-color: #0D1B1E;
}


/************TYPOGRAFI***************/


#typographyWrapper{
    width: 56%;
    margin: auto;
}

.typographyBox{
    width: 300px;
    height: 200px;
    background: #DADADA;
    display: inline-block;
    position: relative;
    margin-top: 50px;

}




/********KNAPPER OG LINKS*************/


#buttonWrapper label{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    color: #0D1B1E;
    height: 100%;
}

.submit, .link{
    height: 40px;
    width: 300px;
}

.largeBtn{
  height: 40px;
  width: 300px;
  border-radius: 5px;
  background-color: #5FA8D3;
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  color: #FCFCFC;
  border: none;
  display: block;
  margin: auto;
}

.buttonDiv{
    height: 100%;
    position: relative;
    top: 40%;
}

#buttonCode{
    width: 350px;
    height: 200px;
    margin:auto;
    background-color: #DADADA;
    margin-top: 20px;
    padding: 20px 20px 20px 20px;
}


.codeSnippet pre{
    width: 100px;
}

strong{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 0.9;
}


.gridButton {
    margin: auto;
    border-radius: 5px;
    background-color: #5FA8D3;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: #FCFCFC;
    border: none;
    padding:10px;
    display: block;
  }


  .gridCTA {
    margin: auto;
    width:120px;
    height:120px;
    padding-top:45px;
    border-radius: 50%;
    background-color: #ffca3a;
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    text-decoration:none;
    color: #0d1b1e;
    box-shadow:5px 5px 10px rgba(0, 0, 0, .2);
    display: block;
  }






/**********GRID************/


.column {
    float: left;
    width: 50%;
    height: 300px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}